#Everything in this file is added to the bottom of the __init__.py file at buildtime

import CoolProp
import HumidAirProp
import State

__fluids__ = CoolProp.FluidsList()

#Get the include directory for CoolProp header files
def get_include_directory():
    import os
    head,file = os.path.split(__file__)
    return os.path.join(head,'include')