recursive-include Plots *.*

include *.template
include *.h *.cpp *.i *.pxd
include fluids.txt
include svnrevision.txt

exclude *_wrap.*

prune CoolPropBuilder
prune Vault
prune wrappers
graft CoolProp/Eigen
